footer {
  margin-top: 5%;
  text-align: center;
  color: beige;
  padding: 25px 0;
  background: #443737;
  width: 100%;
  position: absolute;
  left: 0;
}

footer .copyright {
  margin-bottom: 0.3rem;
}
